/* || general */

body {
    font-family: 'Space Grotesk', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--Dark, #191A23);
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--Dark, #191a23c7);
}

.text--style {
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.button--style {
    padding: 20px 35px;
    background: var(--Dark, #191A23);
    border-radius: 14px;
    border-radius: 14px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;
}

.container-max-width--style {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.label--style {
    padding: 0 7px;
    border-radius: 7px;
    background: var(--Green, #B9FF66);
    color: black;
    font-size: 40px;
    font-weight: 500;
    line-height: 51px;
    display: inline-block;
}

.small-label--style {
    font-size: 30px;
}


.text-container--style {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    max-width: 900px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.input--style {
    padding: 18px 30px;
    border: 1px solid black;
    border-radius: 14px;
    outline: none;
    color: black;
    margin-top: 10px;
    resize: none;
}


/* || header */

.main-header {
    z-index: 10000000;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    position: sticky;
    left: 0;
    right: 0;
    top: -1px;
    background-color: white;
}

.header__logo {
    max-width: 220px;
    width: 100%;
}

.main-header__right {
    max-width: 811px;
    width: 100%;
}

.main-header__nav {
    width: 100%;
}

.main-header__nav-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__nav-item a {
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.main-header__nav-item a:hover {
    text-decoration: underline;
}

.main-header__nav-button {
    border: 1px solid var(--Dark, #191A23);
    border-radius: 14px;
    padding: 20px 35px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: black;
}

.hamburder-menu {
    flex-direction: column;
    gap: 5px;
    display: none;
}

.hamburder-menu__lines {
    max-width: 26px;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 20px;
}

@media (max-width: 1100px) {
    .main-header {
        justify-content: space-between;
    }

    .main-header__right {
        max-width: 26px;
    }

    .main-header__nav-items {
        display: none;
    }

    .hamburder-menu {
        display: flex;
    }
}

/* || about section */

.about-section {
    margin-top: 70px;
    margin-bottom: 140px;
    padding: 10px;
}

.about__top {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.about__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
    align-items: flex-start;
}

.about__left--img {
    display: none;
}

.about__heading {
    font-size: 60px;
    font-weight: 500;
    line-height: 77px;
    max-width: 531px;
    width: 100%;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    max-width: 498px;
    width: 100%;
}

.about__illustration {
    max-width: 600px;
    width: 100%;
}

.about__bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    flex-wrap: wrap;
}

.company-logos {
    filter: grayscale(100%);
    max-width: 125px;
    width: 100%;
}

.combined-company-logos {
    filter: grayscale(100%);
    max-width: 430px;
    width: 100%;
    display: none;
}

@media (max-width: 1321px) {
    .about__left {
        align-items: stretch;
    }

    .about__illustration {
        display: none;
    }

    .about__left--img {
        display: inline-block;
    }

    .about__top {
        justify-content: center;
    }
}

@media (max-width: 735px) {
    .about__bottom {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .company-logos {
        display: none;
    }

    .combined-company-logos {
        display: inline-block;
    }
}

/* || services section */

.services-section {
    padding: 10px;
    margin-bottom: 123px;
}

.services__text {
    max-width: 580px;
    width: 100%;
}

@media (max-width: 816px) {
    .services__text {
        text-align: center;
    }
}

.services__cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

.services__card {
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
    background: var(--Grey, #F3F3F3);
    border: 1px solid var(--Dark, #191A23);
    box-shadow: 0px 5px 0px 0px #191A23;
    border-radius: 45px;
    padding: 50px;
}

.bg-color--green {
    background: var(--Green, #B9FF66);
}

.bg-color--black {
    background: var(--Dark, #191A23);
}

.bg-color--black .card__label {
    background-color: white;
    color: black;
}

.bg-color--black .card__learn-more--text {
    color: white;
}

.bg-color--green .card__label {
    background-color: white;
    color: black
}

.learn-more__image {
    display: none;
}

.card__label {
    width: fit-content;
}

.card__left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 93px;
}

.learn-more__arrow {
    vertical-align: middle;
    margin-right: 10px;
}

.card__learn-more--text {
    margin-bottom: 100px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    vertical-align: middle;
}

@media (max-width: 575px) {
    .services__card {
        justify-content: space-around;
    }

    .card__right-side {
        display: none;
    }


    .learn-more__image {
        display: inline-block;
        max-width: 180px;
        width: 100%;
    }

    .card__learn-more {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 84px;
        margin: 0 auto;
    }

    .card__learn-more--text {
        display: none;
    }
}

/* || proposal section */
.proposal-section {
    padding: 20px;
    margin-bottom: 163px;
}

.proposal__main-container {
    background: var(--Grey, #F3F3F3);
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 60px;
    border-radius: 45px;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    flex-wrap: wrap;
}

.proposal__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
    align-items: flex-start;
}

.proposal__text {
    max-width: 500px;
    width: 100%;
}

.proposal__heading {
    font-size: 30px;
    font-weight: 500;
    max-width: 500px;
    width: 100%;
}

@media (max-width: 448px) {
    .proposal__button {
        font-size: 20px;
    }
}

@media (max-width: 1214px) {

    .proposal__left {
        align-items: stretch;
    }

    .proposal__right {
        display: none;
    }
}

/* || case studies section */

.case-studies-section {
    padding: 20px;
    margin-bottom: 140px;
}

.case__text {
    max-width: 580px;
    width: 100%;
}

.case__info-computer {
    width: 100%;
    background: var(--Dark, #191A23);
    color: white;
    padding: 70px 60px;
    border-radius: 45px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.case__info-computer--text {
    color: white;
    max-width: 286px;
    width: 100%;
}

.case__card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line {
    height: 186px;
    width: 1px;
    background-color: white;
}

.case__info-computer--link span {
    vertical-align: bottom;
    margin-right: 10px;
    color: var(--Green, #B9FF66);
    font-size: 20px;
    font-weight: 400;
}

.case__info-computer--link img {
    vertical-align: bottom;
}

@media (max-width: 925px) {
    .case__text {
        text-align: center;
    }

    .case__info-computer {
        background-color: transparent;
        max-width: max-content;
        overflow-x: scroll;
        justify-content: space-between;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }

    .line {
        display: none;
    }

    .case__card {
        background: var(--Dark, #191A23);
        padding: 42px 50px;
        width: 350px;
        flex-shrink: 0;
        border-radius: 45px;
        scroll-snap-align: center;
    }
}

/* || work process section */

.work-process-section {
    padding: 20px;
    margin-bottom: 140px;
}


.process__text {
    max-width: 292px;
    width: 100%;
}

@media (max-width: 784px) {
    .process__text {
        text-align: center;
    }
}

.process__cards-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
}

.process__card {
    padding: 41px 60px;
    background: var(--Grey, #F3F3F3);
    border: 1px solid #191A23;
    border-radius: 45px;
    box-shadow: 0px 5px 0px 0px #191A23;
    border-radius: 45px;
    cursor: pointer;
    transition: all 0.3s;
    height: auto;
}

.process__card:hover {
    background: var(--Grey, #d3d3d3);
    transform: translateY(-10px);
}

.process__card .card__line {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all 0.3s;
}

.process__card .card__bottom {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all 0.3s;
}

.process__card.active {
    background: var(--Green, #B9FF66);
    border: 1px solid #191A23;
    border-radius: 45px;
    box-shadow: 0px 5px 0px 0px #191A23;
    padding: 41px 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-around;
    height: auto;
    max-height: 10000px;
}

.process__card.active .card__line {
    visibility: visible;
    opacity: 1;
    height: 2px;
}

.process__card.active .card__bottom {
    visibility: visible;
    opacity: 1;
    height: auto;
}

.card__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card__heading {
    font-size: 60px;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card__heading--text {
    font-size: 30px;
    font-weight: 500;
}

.card__active-sign img {
    max-width: 48px;
    width: 100%;
}

@media (max-width: 497px) {
    .card__heading {
        font-size: 30px;
    }

    .card__heading--text {
        font-size: 18px;
        max-width: 100px;
        width: 100%;
    }

    .card__active-sign img {
        width: 30px;
    }
}

@media (max-width: 364px) {
    .card__heading {
        font-size: 20px;
    }

    .card__heading--text {
        font-size: 16px;
    }

    .card__active-sign img {
        max-width: 25px;
    }
}

.card__line {
    width: 100%;
    height: 2px;
    background-color: black;
}

.card__bottom p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    width: 100%;
}

/* || team section */

.team-section {
    padding: 20px;
    margin-bottom: 100px;
}

.team__text {
    max-width: 473px;
    width: 100%;
}

@media (max-width: 668px) {
    .team__text {
        text-align: center;
    }
}

.team__profile-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 60px;
}

.profile-card {
    border-radius: 45px;
    padding: 40px 35px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px 0px #191A23;
    background-color: white;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.profile-card__top {
    display: flex;
    gap: 20px;
}

.profile-card__picture {
    align-self: center;
}

.profile-card__name-occupation {
    align-self: flex-end;
}

.profile-card__card-name {
    font-size: 20px;
    font-weight: 500;
}

.profile-card__occupation {
    font-size: 18px;
    font-weight: 400;
    max-width: 148px;
    width: 100%;
}

.profile-card__linked-in {
    align-items: flex-start;
    height: 34px;
}

.profile-card__line {
    width: 100%;
    height: 2px;
    background-color: black;
}

.profile__button-container {
    width: 98.5%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 880px) {
    .profile__button-container {
        width: 100%;
        flex-direction: column;
    }
}

/* || testimonials section */

.testimonilas-section {
    padding: 20px;
    margin-bottom: 140px;
}

.testimonilas__text {
    max-width: 473px;
    width: 100%;
}

@media (max-width: 807px) {
    .testimonilas__text {
        text-align: center;
    }
}

.testimonial-container {
    background-color: #191A23;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 68px 20px;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    gap: 124px;
}

.testimonial__top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testimonial__bubble-container {
    position: relative;
    background-color: #191A23;
    margin-bottom: 48px;
}

.bubble-text {
    color: white;
    max-width: 606px;
    width: 100%;
    border: 2px solid var(--Green, #B9FF66);
    padding: 45px 20px;
    border-radius: 45px;
}

.corner {
    width: 50px;
    height: 50px;
    border: 2px solid var(--Green, #B9FF66);
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
    position: absolute;
    left: 50px;
    bottom: -24px;
    background-color: #191A23;
}

.testimonial__name-occupation {
    align-self: flex-end;
    max-width: 540px;
    width: 100%;
}

.testimonial__name {
    color: var(--Green, #B9FF66);
    font-size: 20px;
    font-weight: 500;
}

.testimonial__occupation {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.testimonial__bottom {
    max-width: 606px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left-arrow i {
    color: rgba(255, 255, 255, 0.3);
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s;
}

.nav__left-arrow i:hover {
    color: rgba(255, 255, 255, 0.418);
    transform: translateX(-5px);
}

.nav__right-arrow i {
    font-size: 25px;
    color: white;
    transition: all 0.2s;
    cursor: pointer;
}

.nav__right-arrow i:hover {
    color: rgb(255, 255, 255);
    transform: translateX(5px);
}

/* || contact section */

.contact-section {
    padding: 20px;
    margin-bottom: 140px;
}

.contact__text {
    max-width: 323px;
    width: 100%;
}

@media (max-width: 632px) {
    .contact__text {
        text-align: center;
    }
}

.contact-container {
    width: 100%;
    background-color: var(--Grey, #F3F3F3);
    border-radius: 45px;
    padding: 60px;
    background-image: url('../images/background-img-1.svg');
    background-repeat: no-repeat;
    background-position: right -325px center;
}

@media (max-width: 755px) {
    .contact-container {
        background-image: none;
    }
}

.contact__radios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    max-width: 276px;
    width: 100%;
    flex-wrap: wrap;
}

.contact__form {
    max-width: 556px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact__input {
    width: 100%;
}

/* || footer */

footer {
    padding: 0 20px;
}

.footer__main-container {
    background-color: var(--Dark, #191A23);
    border-radius: 45px 45px 0 0;
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 859px) {
    .footer__top {
        justify-content: space-around;
    }
}

.footer__nav-items {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 659px) {
    .footer__top {
        flex-direction: column;
        align-items: center;
    }

    .footer__nav-items {
        flex-direction: column;
        align-items: center;
    }

    footer {
        padding: 0 0;
    }
}

.footer__nav-item a {
    color: white;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.footer__social-logos {
    display: flex;
    gap: 20px;
}

.footer-middle__social-logos {
    display: none;
}

.footer__label {
    font-size: 20px;
    padding: 0;
    line-height: 30px;
}

.footer__middle-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    max-width: 332px;
    width: 100%;
}

.contact-info {
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.footer__middle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 1009px) {
    .footer__middle {
        flex-direction: column;
        align-items: center;
    }

    .footer__social-logos {
        display: none;
    }

    .footer-middle__social-logos {
        display: flex;
        gap: 20px;
    }
}

.footer__middle-right {
    border-radius: 14px;
    background: #292A32;
    padding: 58px 40px;
    max-width: 634px;
    width: 100%;
}

.footer__form {
    width: 100%;
    display: flex;
    gap: 20px;
    align-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 1146px) {
    .footer__middle {
        justify-content: space-around;
    }

    .footer__middle-left {
        align-items: center;
        text-align: center;
    }
}

.footer__input {
    margin: 0;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 22px 35px;
    max-width: 274px;
    width: 100%;
}

.footer__button {
    background-color: var(--Green, #B9FF66);
    color: black;
    padding: 20px 35px;
    max-width: 248px;
    width: 100%;
    word-wrap: break-word;
}

@media (max-width: 475px) {
    .footer__button {
        font-size: 10px;
        padding: 15px 20px;
        font-weight: 500;
    }
}

.footer__line {
    width: 100%;
    height: 2px;
    background-color: white;
}

.footer__bottom {
    display: flex;
    color: white;
    gap: 20px;
    flex-wrap: wrap;
}

.policy {
    text-decoration: underline;
}


@media (max-width: 574px) {
    .footer__bottom {
        align-items: center;
        text-align: center;
    }

    .policy {
        margin: 0 auto;
    }
}